<div class="container">
  <table class="table table-dark">
      <thead>
          <tr>
              <th scope="col">Username</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
          </tr>
      </thead>
      <tbody *ngFor="let korisnik of korisnici">
          <tr>
              <td>{{ korisnik.username }}</td>
              <td>{{ korisnik.ime }}</td>
              <td>{{ korisnik.prezime }}</td>
          </tr>
      </tbody>
  </table>

  <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Šifra države</th>
            <th scope="col">Država</th>
        </tr>
    </thead>
    <tbody *ngFor="let drzava of drzave">
        <tr>
            <td>{{ drzava.sifraDrzave }}</td>
            <td>{{ drzava.nazivDrzave }}</td>
        </tr>
    </tbody>
</table>
</div>